<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Validar Senha</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/Scripts/validacaoSenha.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <h2>Coloque sua senha a baixo</h2>
    <input type="text" id="senha" />
    <button id="btnValidarSenha">Validar Senha</button>
    <div id="mensagem"></div>
</body>
</html>
